// Colors
$grey:#dddddd;
$brand-primary:#5b4681;
$very-light-grey:#f9f9f9;
$dark-grey:#777777;
// Sizes
$site-max-width:50rem;
// Font Sizes
$base-font-size:1.4rem;
$large-font-size:1.8rem;
// Spacing
$space: 1.4rem;
$padding-med:1rem;
$large-space: 2.8rem;
// Button
$button-default-color:$brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;
$button-header-bg:#3d0d99;
// Item
$item-border:darken($very-light-grey, 15%);
$item-bg:$very-light-grey;
$item-text-color:#777777;

$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

$header-bg: $brand-primary;
$header-height:6rem;
