// Colors
$grey:#dddddd;
$brand-primary:#1eb23e;
$very-light-grey:#f9f9f9;
$dark-grey:#777777;
// Sizes
$site-max-width:100rem;
$breakpoint: 45rem;
// Font Sizes
$base-font-size:1.4rem;
$large-font-size:1.8rem;
// Spacing
$space: 1.4rem;
$padding-med:1rem;
$large-space: 2.8rem;
// Button
$button-default-color:$brand-primary;
$button-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $very-light-grey;
$button-secondary-color: $dark-grey;
$button-secondary-border-color: $grey;
$button-header-bg:#005b13;
// Item
$item-border:darken($very-light-grey, 15%);
$item-bg:$very-light-grey;
$item-text-color:#777777;
$item-border-width: 4px;

$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;

$header-bg: $brand-primary;
$header-height:6rem;

// page-content 
$page-content-sidebar-width:30rem;
$page-content-main-width:calc(#{$site-max-width} - #{$page-content-sidebar-width});
$page-content-height: calc(100vh - #{$header-height});

$input-border: $grey;
$input-spacing: 1rem;

$boxed-view-border-color: $grey;