// Item list
.item-list {
    background-color: white;
    border: 1px solid $grey;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.item-list__header {
    display: flex;
    flex-direction: column;
    padding: $space;
    padding-bottom:0;
    margin:0;
}
.item-list__input {
    display: flex;
    flex-direction: column;
    padding: 0 $space $space $space;
}
.item {
    border-left: $item-border-width solid transparent;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
    background-color: $very-light-grey;
    border-left: $item-border-width solid $grey;
}

.item--selected,
.item--selected:hover {
    background-color: $very-light-grey;
    border-left: $item-border-width solid $brand-primary;
}

.item__title {
    font-weight: normal;
    font-size: $base-font-size;
    margin-bottom: .4rem;
}

.item--selected .item__title {
    font-weight: bold;
}

.item__subtitle {
    color: $dark-grey;
    margin: 0;
}

// Empty Item
.empty-item {
    font-style: italic;
    padding: $space;
    text-align: center;
    margin:0;
}
.editor__ingredient-list__item{
    border: 1px solid $grey;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
    background-color: $very-light-grey;
    margin-bottom:0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.editor__ingredient-list__item-empty{
    border: 1px solid $grey;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
    background-color: $very-light-grey;
    margin-bottom:0.5rem;
    text-align: center;
    align-items: center;
}
.editor__ingredient-list__item:hover{
    background-color: $grey;
}

.editor__step-list__item {
    border: 1px solid $grey;
    cursor: pointer;
    padding: $space;
    transition: background-color .3s ease, border-left .3s ease;
    background-color: $very-light-grey;
    margin-bottom:0.5rem;
    display:flex;
    color:$dark-grey;
    flex-direction: column;
    word-wrap:break-word;
}
.step-item {
    word-wrap: break-word;
    word-break: break-all;
    img {
        width:100%;
    }
}

.ingredients__inputs{
    display: flex;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        input{
            margin-right:0.5rem;
        }
    }
}
.step-item-buttons{
    display:flex;
    flex-direction: row;
    button{
        flex-grow: 1;
        height:40px;
        margin:1.3rem;
    }
}