.viewer-content {
    background-color: white;
    border: 1px solid $grey;
    // display: flex;
    // flex-direction: column;
    overflow: scroll;
    padding: $large-space;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    .viewer__title {
        border-bottom: 3px solid $brand-primary;
        border-width:45px;
    }
    .viewer__subtitle {
        font-weight: 300;
    }
}